<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps CI/CD for Company XXXXX</title>
</head>
<body>
    <h1>DevOps CI/CD Company xxxxx App</h1>
    <p>Company xxxxx App Deployed via AWS CodePipeline → CodeBuild → CodeDeploy. </p>
    <p>Please note that the original app for this project can not be displayed. Data privacy being my priority. </p>
    <p>Environment: <strong>{{ environment }}</strong></p>
    <p>Host: <strong>{{ hostname }}</strong></p>
</body>
</html>
